body {
  font-family: "Calibri", Arial, Verdana, sans-serif;
  background-image: linear-gradient(white,grey);
}

header {
  text-align: center;
  color: #009B77;
}

table {
  border: 0.1em solid black;
  border-collapse: collapse;
  width: 95%;
  margin-left: 2.5%;
  background-color: black;
}

caption {
  border: 0.1em solid black;
  font-size: 1.5em;
  background-color: black;
}

caption input {
  text-align: right;
}

th, td {
  border: 0.1em solid black;
  padding: 0.5em;
  text-align: center;
}

input {
  font-family: inherit;
  width: 95%;
  height: 2.5em;
  font-size: 2em;
}
